* {
    padding: 0;
    margin: 0; 
}

html, body { 
    background-color: #fafafa;
    font-size: 16px;
    font-family: Georgia, serif;
}

.header {
    background-color: #11621d; 
    display: flex; 
    justify-content: space-between; 
    height: 400px;
} 

.logo {
    background-color: #e34d07; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 20px;
    color: #ffffff; 
    height: 50px; 
    margin: 10px; 
    align-content: center;
} 

.nav {
    background-color: #2f0983; 
    height: 50px; 
    margin: 10px; 
    align-content: center;
} 

.nav ul {
    list-style: none;
} 

.nav ul li {
    float: left;
} 

.nav ul li a {
    font-weight: bold; 
    font-size: 20px;
    color: #ffffff; 
    margin: 10px; 
}