<!DOCTYPE html>
<html lang="en">
    <title>Template</title> 

    <meta charset="UTF-8" />
    <meta name="description" content="TP sur HTML5, CSS3 et JavaScript" /> 
    <meta name="author" content="Lorince TAWAMBA" />
    <meta name="copyright" content="© TAWAMBA TECHNOLOGIE INC 2024" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="styles/template.css" >
    <body> 
        <header>
            <div class="container header">
                <a href="index.html" class="logo" target="_parent">
                    <img src="images/logo.jpg" alt="COURSE" />
                </a>
                <nav class="nav">
                    <ul>
                        <li><a href="index.html">Accueil</a></li>
                        <li><a href="creer.html">Créer</a></li>
                        <li><a href="liste.html">Liste</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header> 

        <main class="container main"> 
            <div class="aside">
                <nav>
                    <ul>
                        <li><a href="index.html">Aside 1</a></li>
                        <li><a href="creer.html">Aside 2</a></li>
                        <li><a href="liste.html">Aside 3</a></li>
                        <li><a href="contact.html">Aside 4</a></li>
                    </ul>
                </nav>
            </div>
            <div class="section">
                <h1>Liste des courses</h1>
                <article class="article"> 
                    <div class="article-date">
                        <p>03 sep. 2023</p>
                    </div>
                    <div class="article-contenu">
                        <h1>Courses du samedi</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque cupiditate eveniet, minima tenetur aspernatur, a, nobis laboriosam dicta cumque nesciunt optio? Debitis id odio soluta nam beatae. Placeat, necessitatibus temporibus?</p>
                        <div class="article-contenu-button">
                            <button type="button" class="article-contenu-button-supprimer">Supprimer</button>
                            <button type="button" class="article-contenu-button-afficher">Afficher</button>
                        </div>
                    </div>
                </article> 
                <article class="article"> 
                    <div class="article-date">
                        <p>03 sep. 2023</p>
                    </div>
                    <div class="article-contenu">
                        <h1>Courses du samedi</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque cupiditate eveniet, minima tenetur aspernatur, a, nobis laboriosam dicta cumque nesciunt optio? Debitis id odio soluta nam beatae. Placeat, necessitatibus temporibus?</p>
                        <div class="article-contenu-button">
                            <button type="button" class="article-contenu-button-supprimer">Supprimer</button>
                            <button type="button" class="article-contenu-button-afficher">Afficher</button>
                        </div>
                    </div>
                </article>
                <article class="article"> 
                    <div class="article-date">
                        <p>03 sep. 2023</p>
                    </div>
                    <div class="article-contenu">
                        <h1>Courses du samedi</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque cupiditate eveniet, minima tenetur aspernatur, a, nobis laboriosam dicta cumque nesciunt optio? Debitis id odio soluta nam beatae. Placeat, necessitatibus temporibus?</p>
                        <div class="article-contenu-button">
                            <button type="button" class="article-contenu-button-supprimer">Supprimer</button>
                            <button type="button" class="article-contenu-button-afficher">Afficher</button>
                        </div>
                    </div>
                </article>
            </div>
        </main>
        
        <footer>
            <div class="container footer">
                <div>
                    <span class="footer-titre">Partie 1</span> 
                    <hr class="footer-titre-hr"/>                  
                    <ul>
                        <li><a href="facebook.html">Sous titre 1</a></li>
                        <li><a href="twitter.html">Sous titre 2</a></li>
                        <li><a href="linkedIn.html">Sous titre 3</a></li>
                        <li><a href="youtube.html">Sous titre 4</a></li>
                    </ul>
                </div> 
                <div>
                    <h3 class="footer-titre">Partie 2</h3>
                    <hr class="footer-titre-hr"/>
                    <ul>
                        <li><a href="facebook.html">Sous titre 1</a></li>
                        <li><a href="twitter.html">Sous titre 2</a></li>
                        <li><a href="linkedIn.html">Sous titre 3</a></li>
                        <li><a href="youtube.html">Sous titre 4</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="footer-titre">Partie 3</h3>
                    <hr class="footer-titre-hr"/>
                    <ul>
                        <li><a href="facebook.html">Sous titre 1</a></li>
                        <li><a href="twitter.html">Sous titre 2</a></li>
                        <li><a href="linkedIn.html">Sous titre 3</a></li>
                        <li><a href="youtube.html">Sous titre 4</a></li>
                    </ul>
                </div> 
                <div>
                    <h3 class="footer-titre">Partie 4</h3>
                    <hr class="footer-titre-hr"/>
                    <ul>
                        <li><a href="facebook.html">Sous titre 1</a></li>
                        <li><a href="twitter.html">Sous titre 2</a></li>
                        <li><a href="linkedIn.html">Sous titre 3</a></li>
                        <li><a href="youtube.html">Sous titre 4</a></li>
                    </ul>
                </div>
            </div> 
            <div class="container confidentialite">
                <ul>
                    <li><a href="facebook.html">Accessibilité</a></li>
                    <li><a href="twitter.html">Accès à l'information</a></li>
                    <li><a href="linkedIn.html">Plan du site</a></li>
                    <li><a href="youtube.html">Sécurité et Politique de confidentialité</a></li>
                </ul>
            </div>
            <hr class="footer-hr"/>
            <div class="container copyrights"> 
                <div> 
                    <p>© Copyright 2024 TAWAMBA TECHNOLOGIE - Tous droits reservés.</p>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/lorince.tawamba.kouakam/" target="_blank">
                                <img src="images/facebook.png" alt="Facebook" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/lorincetawamba/" target="_blank">
                                <img src="images/linkedin.png" alt="LinkedIn" />
                            </a>
                        </li>
                        <li>
                            <a href="https://x.com/LorinceTawamba" target="_blank">
                                <img src="images/twitter.png" alt="Twitter" />
                            </a>
                        </li> 
                        <li>
                            <a href="https://www.youtube.com/@LorinceTawamba" target="_blank">
                                <img src="images/youtube.png" alt="Youtube" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <img src="images/instagram.png" alt="Instagram" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>