<!DOCTYPE html>
<html lang="en">
    <title>Template</title> 

    <meta charset="UTF-8" />
    <meta name="description" content="TP sur HTML5, CSS3 et JavaScript" /> 
    <meta name="author" content="Lorince TAWAMBA" />
    <meta name="copyright" content="© TAWAMBA TECHNOLOGIE INC 2024" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="styles/template.css" >
    <body> 
        <header>
            <div class="container header">
                <a href="index.html" class="logo">COURSE</a>
                <nav class="nav">
                    <ul>
                        <li><a href="index.html">Accueil</a></li>
                        <li><a href="creer.html">Créer</a></li>
                        <li><a href="liste.html">Liste</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <h2>Page Accueil</h2>

        <footer>
            <div class="container footer">
                <div>
                    Partie 1
                </div> 
                <div>
                    Partie 2
                </div>
                <div>
                    Partie 3
                </div> 
            </div>
            <div class="container footer">
                © Copyright – TAWAMBA TECHNOLOGIE | Documents officiels | Plan du site | Contact
            </div>
        </footer>
    </body>
</html>