<!DOCTYPE html>
<html lang="en">
    <title>Template - Media</title> 

    <meta charset="UTF-8" />
    <meta name="description" content="TP sur HTML5, CSS3 et JavaScript" /> 
    <meta name="author" content="Lorince TAWAMBA" />
    <meta name="copyright" content="© TAWAMBA TECHNOLOGIE INC 2024" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="styles/media.css" >
    <body> 
        <div class="container">
            <p>
                Bonjour tous le monde
            </p>
        </div>        
    </body>
</html>