* {
    margin: 0;
    padding: 0;
} 

html, body {
    background-color: #eaf2f8; 
    color: #000000; 
    font-family: Georgia, serif;
    font-size: 16px;    
} 

a {
    text-decoration: none; 
    color: #fff7dc;
}  

header {
    background-color: #003366;
} 

footer {
    background-color: #003366;
} 

main {
    background-color: #003366;
}

.container {
    width: 1000px;
    margin: 0 auto; 
}

.header {
    height: 80px; 
    display: flex; 
    justify-content: space-between;
} 

.logo {
    font-size: 18px; 
    align-content: center;
    margin: 5px;
} 

.logo img {
    width: 130px;
    height: 60px;
    border-radius: 5px 5px 5px 5px; 
}

.nav {
    font-size: 18px; 
    align-content: center;
    margin: 5px;
} 

.nav ul {
    list-style: none;
} 

.nav ul li {
    float: left;
    font-size: 22px;
    font-weight: bold;
    margin: 2px 30px 2px 10px;
} 

.footer { 
    display: flex; 
    padding: 0px 0px 10px 0px;
    justify-content: space-between; 
    color: #fff7dc;
}  

.footer ul {
    list-style: none;
} 

.footer ul li {
    margin: 10px 10px 2px 0px;
    font-size: 24px;
}    

.footer-hr { 
    height: 1px;
    background-color: #85C17E; 
    margin: 10px 0px 10px 0px;
    border: none;
}

.footer-titre { 
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
    color: #f8bf02; 
}  

.footer-titre-hr { 
    height: 3px;
    background-color: #892104; 
    border: none;
}

.copyrights { 
    display: flex; 
    padding: 5px 0px 5px 0px;
    justify-content: space-between; 
    color: #fff7dc;  
} 

.copyrights ul {
    list-style: none;
} 

.copyrights ul li {
    float: left;
    margin: 2px 10px 2px 10px;
} 

.copyrights p {
    color: #998238;
    font-size: 18px;
}

.copyrights img {
    width: 30px;
    height: 30px;
    border-radius: 10px 10px 10px 10px; 
}  

.copyrights div {
    align-content: center;
} 

.confidentialite { 
    display: flex; 
    padding: 15px 0px 2px 0px;
    justify-content: space-between; 
    color: #fff7dc;
}  

.confidentialite ul {
    list-style: none;
    margin: 0 auto;
} 

.confidentialite ul li { 
    float: left;
    margin: 10px 50px 2px 0px;
    font-size: 16px;
} 
.main {
    height: 800px; 
    display: flex; 
    background-color: #eaf2f8;
} 

.aside {
    font-size: 18px; 
    margin: 2px 0px 2px 0px; 
    background-color: #64055c; 
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 0px;
} 

.aside ul {
    list-style: none;
} 

.aside ul li {
    font-size: 22px;
    font-weight: bold;
    margin: 2px 30px 10px 10px;
}  

.aside a {
    text-decoration: none; 
    color: #08753b;
} 

.section {
    font-size: 18px; 
    margin: 2px 0px 2px 2px; 
    background-color: #9baebd; 
    padding: 10px 10px 10px 10px;
    flex: 1; 
    border-radius: 10px 10px 10px 10px;
} 

.article {
    display: flex; 
    background-color: #eaf2f8;
    margin: 2px 0px 20px 2px; 
    border-radius: 20px 20px 20px 20px;
} 

.article-date {
    align-content: center; 
    padding: 5px 10px 5px 10px; 
} 

.article-contenu p {
    padding: 10px 0px 10px 0px;
}

.article-contenu-button {
    display: flex;
    justify-content: space-between; 
    border-radius: 0px 0px 20px 0px;
}

.article-contenu-button-supprimer {
    background-color: #ec5258;
    font-size: 20px; 
    font-weight: bold;
    color: #eaf2f8; 
    padding: 5px 10px 5px 10px;
    margin: 0 auto;
    flex: 1;
} 

.article-contenu-button-afficher {
    background-color: #07a31e;
    font-size: 20px; 
    font-weight: bold;
    color: #eaf2f8; 
    padding: 5px 10px 5px 10px;
    margin: 0 auto;
    flex: 1;
}